URL_to_Document.json
{
  "name": "URL -> Document",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        192,
        0
      ],
      "id": "81c2abaf-9da7-4c33-a276-ac84e1a220db",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "rag_update_queue",
        "limit": 5,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "processed",
              "condition": "eq",
              "keyValue": "FALSE"
            },
            {
              "keyName": "flagged_at",
              "condition": "gt",
              "keyValue": "2025-12-19 18:45:27.107747+00"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "7e8ee831-43fb-44ae-a26d-86e6dca04673",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "source_url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        608,
        0
      ],
      "id": "d749070b-39f2-4685-bb3f-6cda0eaae839",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://YOUR_CRAWL4AI_HOST:11235/crawl",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"urls\": [\"{{ $json.source_url }}\"],\n  \"markdown\": true,\n  \"wait_for\": 2\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        0
      ],
      "id": "00218cbd-bde3-48bd-acd4-fe160c5ca706",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        816,
        -176
      ],
      "id": "0386cb0a-db5e-4a60-9f8a-287be0033001",
      "name": "Wait",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst firstResult = response.results?.[0];\n\nif (!firstResult) {\n  throw new Error('No results found in Crawl4AI response');\n}\n\n// Extract the raw_markdown field\nconst markdownObj = firstResult.markdown || {};\nconst markdown = markdownObj.raw_markdown || '';\n\nconst sourceUrl = firstResult.url || '';\nconst success = firstResult.success || false;\n\n// Clean excessive whitespace\nconst cleanedMarkdown = markdown\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .replace(/[ \\t]+/g, ' ')\n  .trim();\n\n// Calculate metrics\nconst wordCount = cleanedMarkdown.split(/\\s+/).filter(w => w.length > 0).length;\nconst fileSizeKb = Math.round(cleanedMarkdown.length / 1024);\n\n// Return with proper pairedItem for n8n\nreturn {\n  json: {\n    source_url: sourceUrl,\n    document: cleanedMarkdown,\n    success: success,\n    word_count: wordCount,\n    file_size_kb: fileSizeKb,\n    crawled_at: new Date().toISOString()\n  },\n  pairedItem: $input.item.pairedItem || { item: 0 }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        0
      ],
      "id": "02329587-af2b-4591-ae76-0012ae2c8b1b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fb2faa2-a802-4ad1-9cf4-f0d11e819bd3",
              "name": "source_url",
              "value": "={{ $json.source_url }}",
              "type": "string"
            },
            {
              "id": "5e4e69c3-9ab7-468e-af9d-c9d62a68006c",
              "name": "id",
              "value": "={{ $('Get many rows').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        0
      ],
      "id": "85fc601c-7da1-43de-8b7d-f7ed4ee6fda8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "tableId": "documents_and_metadata",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source_url",
              "fieldValue": "={{ $('Code in JavaScript').item.json.source_url }}"
            },
            {
              "fieldId": "document",
              "fieldValue": "={{ $('Code in JavaScript').item.json.document }}"
            },
            {
              "fieldId": "word_count",
              "fieldValue": "={{ $('Code in JavaScript').item.json.word_count }}"
            },
            {
              "fieldId": "file_size_kb",
              "fieldValue": "={{ $('Code in JavaScript').item.json.file_size_kb }}"
            },
            {
              "fieldId": "crawled_at",
              "fieldValue": "={{ $('Code in JavaScript').item.json.crawled_at }}"
            },
            {
              "fieldId": "id",
              "fieldValue": "={{ $('Edit Fields').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1424,
        0
      ],
      "id": "3db78609-19e3-450b-a9af-12fa47a61810",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1616,
        176
      ],
      "id": "36c98926-f7dd-48ce-8f7d-c3cc6e144572",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get Agent X output\nconst agentOutput = $input.first().json;\n\n// Parse the output field - handle markdown code blocks\nlet metadata;\nif (typeof agentOutput.output === 'string') {\n  let cleaned = agentOutput.output.trim();\n  \n  // Remove code block markers using character code for backtick (96)\n  const backtick = String.fromCharCode(96);\n  const codeBlockStart = backtick + backtick + backtick + 'json';\n  const codeBlockEnd = backtick + backtick + backtick;\n  \n  cleaned = cleaned.split(codeBlockStart).join('');\n  cleaned = cleaned.split(codeBlockEnd).join('');\n  cleaned = cleaned.trim();\n  \n  metadata = JSON.parse(cleaned);\n} else {\n  metadata = agentOutput.output;\n}\n\n// Get the document ID from earlier in workflow\nconst documentId = $('Edit Fields').first().json.id;\n\n// Return formatted for Supabase\nreturn {\n  json: {\n    id: documentId,\n    title: metadata.title,\n    summary: metadata.summary,\n    key_terms: metadata.key_terms,\n    effective_date: metadata.effective_date\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        0
      ],
      "id": "20482002-2599-4d17-a19d-d7ac071ca9ff",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "documents_and_metadata",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.summary }}"
            },
            {
              "fieldId": "key_terms",
              "fieldValue": "={{ $json.key_terms }}"
            },
            {
              "fieldId": "effective_date",
              "fieldValue": "={{ $json.effective_date }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2176,
        0
      ],
      "id": "b509acfb-a6b9-4a78-9079-1a92437a6325",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2384,
        176
      ],
      "id": "ce9ad0cf-a3c3-4bc3-bd98-a4ec8457a85e",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a compliance document classifier. Based on the document summary and key terms, assign the most relevant categories.\n\nDOCUMENT INFO:\nTitle: {{ $json.title }}\nSummary: {{ $json.summary }}\nKey Terms: {{ $json.key_terms }}\n\nAssign categories:\n\n**Main Topics** (select 3-5 most relevant):\n- Jurisdictions: Federal, EPA, Alabama, Florida, Georgia, Mississippi, North Carolina, South Carolina, Tennessee\n- Resources: Water Quality, Stormwater, Wetlands, Riparian Buffers, Air Quality, Soil Conservation, Waste Management, Wildlife, Forestry, Agriculture, Coastal\n- Programs: NPDES, Section 404, Section 401, Section 10, CWA, NEPA, ESA, Mining Permits, Air Permits\n- Activities: Construction, Permits, Development, Dredge and Fill, Agriculture, Forestry, Mining, Stormwater Management\n- Doc Types: Regulation, Guidance, Court Decision, Proposed Rule, Final Rule, Permit, Fact Sheet\n\n**Geographic Scope** (select 1-5 that apply):\n- National\n- Regional (e.g., Southeast, Coastal States)\n- State-specific: Alabama, Florida, Georgia, Mississippi, North Carolina, South Carolina, Tennessee\n- Multi-State\n- Local\n\nExamples:\n- Federal regulation: [\"National\"]\n- Georgia state law: [\"Georgia\"]\n- EPA rule affecting Southeast: [\"National\", \"Regional\"]\n- Multi-state compact: [\"Georgia\", \"Alabama\", \"Tennessee\"]\n\n**IMPORTANT FORMAT RULE**: \nWhen selecting topics from the taxonomy categories above (Jurisdictions, Resources, Programs, Activities, Doc Types), return ONLY the value itself, NOT the category label.\n\nExample output:\n{\n  \"main_topics\": [\"Federal\", \"Water Quality\", \"NPDES\", \"Proposed Rule\"],\n  \"geographic_scope\": [\"National\"]\n}\n\nOUTPUT (valid JSON only, no other text):\n{\n  \"main_topics\": [\"topic1\", \"topic2\", \"topic3\"],\n  \"geographic_scope\": [\"scope1\", \"scope2\"]\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2384,
        0
      ],
      "id": "93c76ddf-eda8-4bd0-919b-5dc5b1a8b21a",
      "name": "AI Agent X2 - Topics"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract basic metadata from this document in valid JSON format.\n\nDOCUMENT:\n{{ $('Code in JavaScript').first().json.document }}\n\nExtract:\n1. **Title**: Clear, descriptive title for this document\n2. **Summary**: One sentence describing what compliance information this provides (max 150 characters)\n3. **Effective Date**: Extract any date mentioned as effective date, publication date, or revision date in YYYY-MM-DD format. If none found, use null.\n4. **Key Terms**: List 5-10 important terms, phrases, or concepts mentioned in the document (agencies, programs, regulations, locations, activities)\n\nOUTPUT (JSON only):\n{\n  \"title\": \"title here\",\n  \"summary\": \"summary here\",\n  \"effective_date\": \"YYYY-MM-DD or null\",\n  \"key_terms\": [\"term1\", \"term2\", \"term3\", \"term4\", \"term5\"]\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1616,
        0
      ],
      "id": "7dbcb6a9-f075-4738-a2e9-e4552692dd60",
      "name": "AI Agent X - Summary"
    },
    {
      "parameters": {
        "jsCode": "// Get Agent X2 output\nconst agentOutput = $input.first().json;\n\nlet metadata;\nif (typeof agentOutput.output === 'string') {\n  let cleaned = agentOutput.output.trim();\n  \n  // Remove code block markers using character code for backtick (96)\n  const backtick = String.fromCharCode(96);\n  const codeBlockStart = backtick + backtick + backtick + 'json';\n  const codeBlockEnd = backtick + backtick + backtick;\n  \n  cleaned = cleaned.split(codeBlockStart).join('');\n  cleaned = cleaned.split(codeBlockEnd).join('');\n  cleaned = cleaned.trim();\n  \n  metadata = JSON.parse(cleaned);\n} else {\n  metadata = agentOutput.output;\n}\n\n// Get the document ID\nconst documentId = $('Edit Fields').first().json.id;\n\n// Return formatted for Supabase\nreturn {\n  json: {\n    id: documentId,\n    main_topics: metadata.main_topics,\n    geographic_scope: metadata.geographic_scope\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        0
      ],
      "id": "b0a74d84-f7c9-4354-b089-cb59cc2d0270",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "documents_and_metadata",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "main_topics",
              "fieldValue": "={{ $json.main_topics }}"
            },
            {
              "fieldId": "geographic_scope",
              "fieldValue": "={{ $json.geographic_scope }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2912,
        0
      ],
      "id": "64159668-817e-4ac8-aacb-f63ccaf2d582",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "rag_update_queue",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "processed",
              "fieldValue": "TRUE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3120,
        0
      ],
      "id": "925ba4c2-71d1-485b-bd97-295a919933cc",
      "name": "Update a row2",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH duplicate_analysis AS (\n  SELECT \n    source_url,\n    COUNT(*) as duplicate_count,\n    array_agg(id ORDER BY created_at DESC) as all_ids,\n    MIN(created_at) as oldest,\n    MAX(created_at) as newest,\n    (array_agg(id ORDER BY created_at ASC))[1] as id_to_keep\n  FROM rag_update_queue\n  GROUP BY source_url\n  HAVING COUNT(*) > 1\n),\ndeleted_records AS (\n  DELETE FROM rag_update_queue\n  WHERE id IN (\n    SELECT unnest(all_ids)\n    FROM duplicate_analysis da\n    WHERE id != id_to_keep\n  )\n  RETURNING id, source_url, created_at\n)\nSELECT \n  da.source_url,\n  da.duplicate_count,\n  da.all_ids,\n  da.oldest,\n  da.newest,\n  (da.duplicate_count - 1) as records_deleted,\n  da.id_to_keep as record_kept\nFROM duplicate_analysis da\nORDER BY da.duplicate_count DESC;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        528
      ],
      "id": "705bfc45-6e77-4981-8707-1bb5de329597",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "duplicate_cleanup_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source_url",
              "fieldValue": "={{ $json.source_url }}"
            },
            {
              "fieldId": "oldest_duplicate_date",
              "fieldValue": "={{ $json.oldest }}"
            },
            {
              "fieldId": "newest_duplicate_date",
              "fieldValue": "={{ $json.newest }}"
            },
            {
              "fieldId": "records_deleted",
              "fieldValue": "={{ $json.records_deleted }}"
            },
            {
              "fieldId": "record_kept",
              "fieldValue": "={{ $json.record_kept }}"
            },
            {
              "fieldId": "duplicate_count",
              "fieldValue": "={{ $json.duplicate_count }}"
            },
            {
              "fieldId": "all_ids",
              "fieldValue": "={{ $json.all_ids }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        816,
        528
      ],
      "id": "3675baa1-7d18-4ee4-b878-59772ff37984",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "source_url",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        528
      ],
      "id": "d96aa01a-4b67-413a-862b-168199e8c6ab",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        528
      ],
      "id": "30025946-e163-47e2-901f-a331600dd67a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## Cleanup Duplicates Workflow\n**Removes duplicate URLs from rag_update_queue and reports for logging.",
        "height": 352,
        "width": 1072
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        400
      ],
      "id": "767dac65-3aca-44ca-9822-5738d8e35aa3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## URL -> Document Conversion \n**Converts URLs in rag_update_queue to RAG-ready documents with metadata",
        "height": 528,
        "width": 3456
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        -192
      ],
      "id": "90a4646c-6707-4a78-9b42-8069e1339d9f",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        []
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "AI Agent X - Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent X - Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "AI Agent X2 - Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent X2 - Topics",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent X - Summary": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent X2 - Topics": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row1": {
      "main": [
        [
          {
            "node": "Update a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00000000-0000-0000-0000-000000000000",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}
